*,
*:after,
*:before{
  box-sizing:border-box!important;
  outline:none!important;}

html,body{
  user-select:none;
  position:relative;
  margin:0;
  padding:0;}

body{
  color:rgb(200,200,200);
  font-size:14px;
  background-color:rgb(85,85,85);}

.button{
  font-size:95%;
  color:rgb(230,230,230);
  position:relative;
  display:inline-flex;
  border-radius:2px;
  border:0;
  white-space:nowrap;
  width:100%;
  padding:10px 20px 10px 35px;
  cursor:pointer;
  transition:background-color 0.2s,color 0.2s;}

@media (hover: hover){
.button:hover{
  color:rgb(255,255,255);
  background-color:rgb(65,65,65);}}

.button .status::after{
  position:absolute;
  display:block;
  content:'';
  width:6px;
  height:6px;
  border-radius:50%;
  top:50%;
  left:15px;
  transform:translateY(-50%);}

.button[data-state='on'] .status::after{
  background-color:rgb(41,165,57);
  box-shadow:0 0 5px 1px rgb(41,165,57);}

.button[data-state='off'] .status::after{
  background-color:rgb(205,53,68);
  box-shadow:0 0 5px 1px rgb(205,53,68);}

.help{
  user-select:none;
  text-align:center;
  background-color:rgb(75,75,75);
  width:100%;
  padding:8px 8px 10px;
  font-size:80%;}
